node_modules
.research
/target
/.env
**/radio.db
**/radio.db-shm
**/radio.db-wal
/frontend/dist
/frontend/node_modules
**/data
**/AnalogMonoPlus.ttf
**/AnalogMonoPlus-subset.woff2
**/analogmono_glyphs.txt
