RUST_LOG=sister_radio_syndication_worker=info,hydrant=info
SYNDICATION_BIND_ADDR=127.0.0.1:3300
SYNDICATION_SEED_DIDS=

HYDRANT_DATABASE_PATH=./syndication-hydrant.db
HYDRANT_FULL_NETWORK=false
HYDRANT_ENABLE_FIREHOSE=true
HYDRANT_ENABLE_CRAWLER=true
HYDRANT_ENABLE_BACKFILL=true
HYDRANT_RELAY_HOST=wss://relay.fire.hose.cam/
HYDRANT_CRAWLER_URLS=by_collection::https://lightrail.microcosm.blue
HYDRANT_FILTER_SIGNALS=pet.nkp.radio.station
HYDRANT_FILTER_COLLECTIONS=pet.nkp.radio.station
